<h1><%= @room.name %></h1>
<div id="messages">
  <% @room.messages.where(created_at: 10.minutes.ago..10.minutes.since).last(20).each do |message| %>
    <p><%= message.content %><p>
  <% end %>
</div>

<script>
  this.App.view_controllers.rooms.room_id = <%= @room.id %>;
</script>